.App {

display: flex;
flex-direction: row;


}


.countryList {

display: flex;
flex-direction: column;
justify-content: flex-start;
width: 300px;
border-right: 1px solid black;
word-wrap: break-word;
margin: 25px;
font-family: Arial, Helvetica, sans-serif;


}

.list {

  font-size: 15px;
}

.inactive{

  color: black;

}



.active {

  color: black;
  text-decoration: none;

}
.cont{

display: flex;

}

.countrytable {

margin: 30px;
width: 600px;

}

.details{

display:block;
float: right

}


.countrytable thead{

  font-size: 30px;
  border-bottom: 2px solid black;

}

.countrytable tr {

padding: 10px;
border-bottom: 1px solid black;
font-size: 20px;
}

.countrytable img {

  width: 50px;
}

.countrytable td{

padding: 20px 0;

}

.Navbar{

  font-family: Arial, Helvetica, sans-serif;
  color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin: 20px;
padding: 15px;
background-color: rgb(212, 101, 4);
border-radius: 15px;
box-shadow: 1px 1px 20px black;

}

.Navbar a {

  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.Navbar h1{

  margin-right: 50px;
}